.ant-menu-horizontal {
    padding-left: 27%;
    line-height: 46px;
    white-space: nowrap;
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btnitem{
    line-height: 50px;
}