/*
* @Author: admin
* @Date:   2017-11-21 21:24:29
* @Last Modified by:   admin
* @Last Modified time: 2017-11-21 21:24:33
*/
/*初始化*/
body,
ul,
ol,
dl,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
select {
  margin: 0;
  padding: 0;
}
body {
  font-size: 12px;
  font-family: arial,microsoft yahei;
  color: #666;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666;
}
a:hover {
  color: #e01222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
em,
i {
  font-style: normal;
}
input,
img,
button {
  border: 0 none;
}
img {
  vertical-align: middle;
}
input,
button {
  outline-style: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  line-height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix:after {
  zoom: 1;
}
.w {
  width: 1190px;
  margin: 0 auto;
}
@font-face {
  font-family: "iconfont";
  src: url('../iconfont/iconfont.eot');
  src: url('../iconfont/iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../iconfont/iconfont.woff') format('woff'), /* chrome, firefox */ url('../iconfont/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/ url('../iconfont/iconfont.svg#iconfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
